* {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#succeed-info {
  padding: 2rem 10%;
  height: 65vh;
  margin-bottom: 1rem;
}

#succeed-info h1 {
  font-size: 28px;
  margin-bottom: 2rem;
  text-align: center;
}

#succeed-info h3 {
  margin-bottom: 1rem;
}

#succeed-info .card {
  margin-top: 20px;
}

/* Pre-footer Part */

/* Add a CSS rule for the pre-footer section to create space for the content, change the background and text color. */
#pre-footer {
  background-color: #002540;
  color: white;
  padding: 1rem;
}

/* Add a CSS rule for the div tags to align the elements horizontally. */
/* Add a CSS rule for the all elements inside the div tags to create space between them vertically. */
#pre-footer .col {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#pre-footer #follow {
  vertical-align: bottom;
}

#pre-footer h3,
p {
  margin-bottom: 5px;
}
/* Footer Part */
footer {
  padding: 0.7rem;
}

footer span {
  margin: 0 0.5rem;
}
